extends layout.pug

block number1
    if error 
        p.error Please fill the input

    if success 
        p.success Good Job

    if deleted 
        p.success Deleted     
    form.form(action='/add' method='POST')
        input.input(type='text' placeholder='Create your own blog here...' name='todo')
        button.btn Add 


    div.todos
        if todos.length
            each todo in todos
                p.todo 
                    a(href='/${todo.id}/update') #{todo.description}
                    a.delete(href=`/${todo.id}/delete`) Delete
        else 
            p.todo No any blogs there...

    p.authority This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
